<meta charset="utf-8">
<meta http-equiv="Content-type" 				   content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible"				   content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" 		   content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport"							   content="width=device-width,initial-scale=1,maximum-scale=1">
<meta name="description"						   content="{{config.description }}">
<meta name="google-signin-client_id" 			   content="997760152059-onnk75voujoa9s8gcs5trt2du77hrsff.apps.googleusercontent.com">

<!-- Facebook META -->
<meta property="fb:app_id" 		content="{{config.auth_facebook_id }}">
<meta property="og:site_name" 	content="{{config.site_name }}">
<meta property="og:title" 		content="{{config.site_name }}">
<meta property="og:description" content="{{config.description }}">
<meta property="og:url" 		content="{{ request.host_url }}">
<meta property="og:type" 		content="website">

<!-- Twitter META -->
<meta name="twitter:title" 		 content="{{config.site_name }}">
<meta name="twitter:description" content="{{config.description }}">
<meta name="twitter:url" 		 content="{{ request.host_url }}">

<link rel="author" href="humans.txt" />