<form name="profileEditForm">
    <md-input-container>
        <label>Name</label>
        <input	ng-model="user2.name"
				type="text"
				validator="name_span"
				tabindex="1"
				name="name"
        ><div 	ng-if="profileEditForm.name.$dirty" 
				ng-messages="profileEditForm.name.$error"
        >   <div ng-message="maxlength">Your name is too long</div>
        </div>
    </md-input-container>
    <ga-email 
		ng-model="user2.email_" 
		input-tabindex="2"
	></ga-email>
    <md-input-container>
        <label>Bio</label>
        <input 	ng-model="user2.bio"
				name="bio"
				validator="bio_span"
				show-counter="true"
				tabindex="3"
	></md-input-container>
    <md-input-container>
        <label>Location</label>
        <input	ng-model="user2.location"
				name="location"
				validator="location_span"
				tabindex="4"
    ></md-input-container>
    <br>
    <md-card>
        <md-card-title>Authorisation Providers</md-card-title>
        <!--div ng-repeat="(socKey, soc) in socialAccounts" layout="row" layout-align="start center"-->
        <div ng-repeat="aid in user2.authIds" >
            <div style='display:inline-block; vertical-align:top; width:20%'>
                <i class="fa fa-{{auth.authProviderName(aid)}}"></i>
                {{ auth.authProviderName(aid) }}
            </div>
            <md-input-container style='display:inline-block;font-family: monospace; font-size: larger;' readonly="true">
                {{ authUserId(aid) }}
            </md-input-container>		
            <button ng-click="removeAuthProv($index)" style='float:right;'>
                delete 		 <i class="fa fa-{{auth.name}}"></i>
                {{auth.name}}<i class="fa fa-times fa-lg" style='color:red;'></i>
            </button>
            <!--{{aid.substr(0,2)}}
            <span class="mar-rig-5">{{aid.substr(0,2)}}/</span>
            <md-input-container flex>
                <label>Your {{soc.name}}</label>
                <input ng-model="user2[socKey]"
                    type="text"
                    tabindex="{{ $index + 5}}"
                    ng-maxlength="validators.social[1]"
                    name="{{socKey}}">
                <div ng-if="profileEditForm[socKey].$dirty" ng-messages="profileEditForm[socKey].$error">
                    <div ng-message="maxlength">This seems to be too long for {{ soc.name }} page</div>
                </div>
            </md-input-container-->
        </div>
    </md-card>
    <div ng-if="auth.is_admin()">
        <md-checkbox ng-model="user2.isVerified_">
            Verified
        </md-checkbox>
        <md-checkbox ng-model="user2.isActive_">
            Active
        </md-checkbox>
        <md-checkbox ng-model="user2.isAdmin_">
            Admin
        </md-checkbox>
    </div>
    <div layout="row" layout-margin>
        <md-button flex ui-sref="profile.view({username: user.username})">
			Cancel
		</md-button>
        <md-button flex
			ng-click="save()"
			ng-disabled="!profileEditForm.$valid || isLoading || !profileEditForm.$dirty"
			type="submit"
			tabindex="11"
			class="md-primary"
		>	Save
		</md-button>
    </div>
</form>