<div layout="row" class="w-100" layout-align="center start">
    <div flex flex-gt-md="40" flex-gt-lg="30">
        <md-toolbar class="md-accent">
            <h1 class="md-toolbar-tools">Reset Password</h1>
        </md-toolbar>
        <md-content class="md-padding md-whiteframe-z1">
            <form name="resetForm">
                <ga-password 
					input-tabindex="1"
					ng-model="credentials.newPassword"
					name="password"
					label="New Password"
				></ga-password>
                <ga-password 
					input-tabindex="2"
					ng-model="credentials.repeatPwd"
					repeat-password="credentials.newPassword"
					name="repeatPwd"
					label="Repeat New Password"
				></ga-password>
                <div class="mar-top-20" layout="row" layout-align="end end">
                    <md-button class="md-raised md-primary"
						tabindex="3"
						type="submit"
						ng-disabled="!resetForm.$valid || isLoading"
						ng-click="resetPassword()"
						><i class="fa fa-save btn-icon"></i> 
						Save
                    </md-button>
                </div>
            </form>
        </md-content>
    </div>
</div>