<div layout="row" class="w-100" layout-align="center start">
    <div flex flex-gt-md="80" flex-gt-lg="70">
        <md-toolbar class="md-accent">
            <h1 class="md-toolbar-tools">Sign up</h1>
        </md-toolbar>
        <md-content class="md-padding md-whiteframe-z1">
            <form name="signupForm">
                <md-input-container>
                    <label>Name</label>
                    <input 
						validator="name_span"
						tabindex="2"
						required
						name="name" 
						type="text"
						ng-model="credentials.name"
					><div ng-if="signupForm.name.$dirty" 
						ng-messages="signupForm.name.$error">
						 	  <div ng-message="minlength">First Name needs to be at least {{ nameMinLen }} characters long
						</div><div ng-message="maxlength">First Name can be up to {{ nameMaxLen }} characters long
						</div><div ng-message="required" >First Name is required
                    </div></div> 
                </md-input-container>
                <ga-email 
					ng-model="credentials.email_" 
					required
					input-tabindex="1"
					name = 'ema'
				></ga-email>
                <ga-password 
					ng-model="credentials.password"
					input-tabindex="3"
					name="password"
					></ga-password>
                <ga-password 
					ng-model="credentials.repeatPwd"
					repeat-password="credentials.password"
					name="repeatPwd"
					label="Repeat Password"
					input-tabindex="4"
					></ga-password>
                <ga-captcha 
					ng-model="credentials.captcha" 
					ng-required="true" 
					control="captchaControl"
					></ga-captcha>
                <div class="mar-top-20" layout="column" layout-gt-sm="row" layout-margin>
                    <md-button flex flex-order-sm="2"
						ui-sref="signin">
						Already have an account?
					</md-button>
                    <md-button class="md-raised md-primary" flex flex-order-sm="1"
						ng-disabled="!signupForm.$valid || isLoading"
						ng-click="signup()"
						tabindex="5"
						type="submit"
						><i class="fa fa-sign-in btn-icon"></i>
						Sign Up
                    </md-button>
                </div>
            </form>
            <!-- <ga-auth-options 
				remember="credentials.remember"
				></ga-auth-options> -->
        </md-content>
    </div>
</div>